<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="firefox"/>
	  
	  <!--Communication-->
	  <package id="telegram"/>
	  <package id="discord"/>
	  <package id="zoom"/>
	  <package id="teamviewer"/>
	  
	  <!--Text Editors-->
	  <package id="notepadplusplus"/>
	  <package id="kate"/>
	  <package id="emacs"/>
	  <package id="vim"/>
	  <package id="pulsar"/>
	  
	  <!--Dev-->
	  <package id="git"/>
	  <package id="github-desktop"/>
	  <package id="gitkraken"/>
	  <package id="autohotkey"/>
	  <package id="autoit"/>
	  <package id="conemu"/>
	  <package id="powershell-core"/>
	  <package id="postman"/>
	  
	  <!--Utilities-->
      <package id="qdir"/>
      <package id="sharex"/>
	  <package id="x-mouse-button-control"/>
	  <package id="virtualbox"/>
	  <package id="grepwin"/>
	  <package id="openjdk"/>
	  <package id="speccy"/>
	  <package id="powertoys"/>
	  <package id="sysinternals"/>
	  
	  <!--Multimedia-->
	  <package id="vlc"/>
	  <package id="mpv"/>
	  <package id="spotify"/>
	  <package id="ffmpeg"/>
	  <package id="audacity"/>
	  
	  <!--Education-->
	  <package id="qgis"/>
	  <package id="zotero"/>
	  
	  <!--Cloud-->
	  <package id="dropbox"/>
	  
	  <!--Games-->
	  <package id="wesnoth"/>
	  <package id="steam"/>
	  
	  <!--Graphics-->
	  <package id="inkscape"/>
	  <package id="imagemagick"/>
	  <package id="yed"/>
	  
	  <!--Office-->
	  <package id="obsidian"/>
	  <package id="libreoffice-fresh"/>
	  <package id="notion"/>
	  <package id="opensans"/>
	  <package id="kindle"/>
	  <package id="miktex"/>
	  <package id="pandoc"/>
    </packages>