<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdoptOpenJDKjre" />
  <package id="anki" />
  <package id="atom" />
  <package id="atom.install" />
  <package id="audacity" />
  <package id="autohotkey.portable" />
  <package id="autoit" />
  <package id="autoit.install" />
  <package id="awk" />
  <package id="basilisk" />
  <package id="bulkrenameutility" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-os-dependency.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="ConEmu" />
  <package id="cpu-z" />
  <package id="cpu-z.install" />
  <package id="ditto" />
  <package id="DotNet3.5" />
  <package id="DotNet4.5.2" />
  <package id="dotnet4.7.1" />
  <package id="dotnetfx" />
  <package id="dropbox" />
  <package id="eartrumpet" />
  <package id="elevenclock" />
  <package id="emacs" />
  <package id="emacs.portable" />
  <package id="etcher" />
  <package id="ffmpeg" />
  <package id="filezilla" />
  <package id="fjira" />
  <package id="foxitreader" />
  <package id="gawk" />
  <package id="gimp" />
  <package id="git" />
  <package id="git.install" />
  <package id="github-desktop" />
  <package id="gitkraken" />
  <package id="gping" />
  <package id="grepwin" />
  <package id="hwinfo" />
  <package id="hwinfo.install" />
  <package id="ie11" />
  <package id="imagemagick" />
  <package id="imagemagick.app" />
  <package id="imhex" />
  <package id="InkScape" />
  <package id="jabra-direct" />
  <package id="kate" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3118401" />
  <package id="kindle" />
  <package id="k-meleon" />
  <package id="k-meleon.install" />
  <package id="krita" />
  <package id="lagrange" />
  <package id="lapce" />
  <package id="libreoffice-fresh" />
  <package id="logitech-options" />
  <package id="meld" />
  <package id="miktex" />
  <package id="miktex.install" />
  <package id="mp3tag" />
  <package id="mpv" />
  <package id="mpv.install" />
  <package id="mpvio.install" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="notion" />
  <package id="obs" />
  <package id="obsidian" />
  <package id="openhardwaremonitor" />
  <package id="openjdk11" />
  <package id="opensans" />
  <package id="palemoon" />
  <package id="pandoc" />
  <package id="postman" />
  <package id="PowerShell" />
  <package id="powershell-core" />
  <package id="pulsar" />
  <package id="pulseaudio" />
  <package id="pwsh" />
  <package id="qdir" />
  <package id="rainmeter" />
  <package id="revo-uninstaller" />
  <package id="rufus" />
  <package id="s3browser" />
  <package id="screentogif" />
  <package id="screentogif.portable" />
  <package id="seamonkey" />
  <package id="setpoint" />
  <package id="sharex" />
  <package id="speccy" />
  <package id="sysinternals" />
  <package id="systemexplorer" />
  <package id="t-clock" />
  <package id="telegram" />
  <package id="telegram.install" />
  <package id="Temurin11" />
  <package id="Temurinjre" />
  <package id="tigervnc" />
  <package id="ungoogled-chromium" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="vim" />
  <package id="virtualbox" />
  <package id="visualstudio2022community" />
  <package id="visualstudio-installer" />
  <package id="vivaldi" />
  <package id="vivaldi.install" />
  <package id="vivaldi.portable" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="wacom-drivers" />
  <package id="winamp" />
  <package id="winscp" />
  <package id="winscp.install" />
  <package id="x-mouse-button-control" />
  <package id="youtube-dl" />
  <package id="yt-dlp" />
  <package id="zoom" />
</packages>